*.o
*.lo
*.la
*.cmd
*.Po
config.log
config.status

# Kernel output files
SDK/Kernel/Host/HERMON/image
SDK/Kernel/Host/HERMON/linux/.kernelrelease
SDK/Kernel/Host/HERMON/linux/.version
SDK/Kernel/Host/HERMON/linux/System.map
SDK/Kernel/Host/HERMON/linux/arch/arm/boot/Image
SDK/Kernel/Host/HERMON/linux/arch/arm/boot/compressed/piggy.gz
SDK/Kernel/Host/HERMON/linux/arch/arm/boot/compressed/vmlinux
SDK/Kernel/Host/HERMON/linux/arch/arm/boot/zImage
SDK/Kernel/Host/HERMON/linux/arch/arm/kernel/asm-offsets.s
SDK/Kernel/Host/HERMON/linux/arch/arm/lib/lib.a
SDK/Kernel/Host/HERMON/linux/drivers/net/bonding/bonding.ko
SDK/Kernel/Host/HERMON/linux/include/asm-arm/asm-offsets.h
SDK/Kernel/Host/HERMON/linux/include/linux/compile.h
SDK/Kernel/Host/HERMON/linux/include/linux/version.h
SDK/Kernel/Host/HERMON/linux/lib/lib.a
SDK/Kernel/Host/HERMON/linux/vmlinux
SDK/Kernel/Host/HERMON/linux/arch/arm/kernel/vmlinux.lds
SDK/Kernel/Host/HERMON/linux/include/linux/autoconf.h
SDK/Kernel/Host/HERMON/linux/.config.old
SDK/Kernel/Host/HERMON/linux/.config

#libxml2
SDK/ToolChain/Host/HERMON/gcc-3.4.4-glibc-2.3.5-armv4/arm-linux/arm-linux/lib/pkgconfig/libxml-2.0.pc
SDK/libXML2/libxml2/libxml2-2.6.32/.deps/
SDK/libXML2/libxml2/libxml2-2.6.32/.libs/
SDK/libXML2/libxml2/libxml2-2.6.32/Makefile
SDK/libXML2/libxml2/libxml2-2.6.32/*/Makefile
SDK/libXML2/libxml2/libxml2-2.6.32/*/*/Makefile
SDK/libXML2/libxml2/libxml2-2.6.32/libtool
SDK/libXML2/libxml2/libxml2-2.6.32/libxml-2.0.pc
SDK/libXML2/libxml2/libxml2-2.6.32/libxml2.spec
SDK/libXML2/libxml2/libxml2-2.6.32/python/setup.py
SDK/libXML2/libxml2/libxml2-2.6.32/runsuite
SDK/libXML2/libxml2/libxml2-2.6.32/runtest
SDK/libXML2/libxml2/libxml2-2.6.32/testAutomata
SDK/libXML2/libxml2/libxml2-2.6.32/testC14N
SDK/libXML2/libxml2/libxml2-2.6.32/testHTML
SDK/libXML2/libxml2/libxml2-2.6.32/testModule
SDK/libXML2/libxml2/libxml2-2.6.32/testReader
SDK/libXML2/libxml2/libxml2-2.6.32/testRegexp
SDK/libXML2/libxml2/libxml2-2.6.32/testRelax
SDK/libXML2/libxml2/libxml2-2.6.32/testSAX
SDK/libXML2/libxml2/libxml2-2.6.32/testSchemas
SDK/libXML2/libxml2/libxml2-2.6.32/testThreads
SDK/libXML2/libxml2/libxml2-2.6.32/testURI
SDK/libXML2/libxml2/libxml2-2.6.32/testXPath
SDK/libXML2/libxml2/libxml2-2.6.32/testapi
SDK/libXML2/libxml2/libxml2-2.6.32/xml2-config
SDK/libXML2/libxml2/libxml2-2.6.32/xml2Conf.sh
SDK/libXML2/libxml2/libxml2-2.6.32/xmlcatalog
SDK/libXML2/libxml2/libxml2-2.6.32/xmllint
SDK/libXML2/libxml2/local/

#NTP
NTP/tools/ntp-4.2.4p4/*/Makefile
NTP/tools/ntp-4.2.4p4/*/version.c
NTP/tools/ntp-4.2.4p4/*/.version
NTP/tools/ntp-4.2.4p4/Makefile
